@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 248 90% 66%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


  /* Custom CSS */
.bg-grid-pattern {
  background-image: 
    linear-gradient(#2d2d2d 1px, transparent 1px),
    linear-gradient(to right, #2d2d2d 1px, transparent 1px);
  background-size: 30px 30px;
}

/* Custom CSS (e.g., globals.css) */

.card {
  position: relative;
  perspective: 1000px; /* Độ sâu của hiệu ứng flip */
  transition: transform 0.5s;
}

.card:hover {
  transform: rotateY(180deg); /* Đảo card 180 độ khi hover */
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg); /* Đảo nội dung card 180 độ khi hover */
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Ẩn phần mặt sau của card */
}

.card-front {
  z-index: 2; /* Phía trước khi flip */
  background-color: #1a1a1a; /* Màu nền */
  border-radius: 12px; /* Bo góc */
  padding: 20px; /* Khoảng cách bên trong */
  color: #fff; /* Màu chữ trắng */
}

.card-back {
  z-index: 1; /* Phía sau khi flip */
  transform: rotateY(180deg); /* Đảo ngược nội dung 180 độ */
  background-color: #1a1a1a; /* Màu nền */
  border-radius: 12px; /* Bo góc */
  padding: 20px; /* Khoảng cách bên trong */
  color: #fff; /* Màu chữ trắng */
}
